<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Favoritos</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/estatico/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<!-- Bootstrap Optional theme -->
	<link rel="stylesheet" href="/estatico/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
</head>
<body style="background-color: #eee;">

	<div id="listaLinks" class="container">
		<div class="row">
			<h3>Novo Link</h3>
			<input type="hidden" name="inputId" v-model="link.inputId">
			<input type="hidden" name="inputDataCriacao" v-model="link.DataCriacao">
			<label for="inputUrl" class="sr-only">URL</label>
			<input type="text" v-model="link.inputUrl" name="inputUrl" class="form-control" placeholder="URL" required autofocus>
	
			<label for="inputTitulo" class="sr-only">Título</label>
			<input type="text" v-model="link.inputTitulo" name="inputTitulo" class="form-control" placeholder="Título" required>
	
			<label for="inputTags" class="sr-only">Tags (separadas por vírgula)</label>
			<input type="text" v-model="link.inputTags" name="inputTags" class="form-control" placeholder="Tags (separadas por vírgula)" required>
	
			<div class="checkbox">
				<label>
					<input type="checkbox" v-model="link.Privado" name="privado">
					<span class="glyphicon glyphicon-lock" aria-hidden="true"></span> privado!
				</label>
			</div>
			
			<button class="btn btn-sm btn-primary btn-block" @click="salvarNovoLink">Salvar</button>
		</div>
		<div class="row">
			<div v-if="erroForm" class="alert alert-warning" role="alert">
				{(erroForm)}
			</div>
		</div>
		<div class="row">
			<h3>Links</h3>
			<div class="row">
				<div v-if="erroLista" class="alert alert-warning" role="alert">
					{(erroLista)}
				</div>
			</div>
			<table class="table table-hover">
			<tbody>
			<tr v-for="link in lista">
				<td>
					<h4><a :href="link.URL">{(link.Titulo)}</a> <small>({(link.DataCriacao)})</small></h4>
					<span v-if="link.Privado" class="glyphicon glyphicon-lock" aria-hidden="true"></span>
					<a v-for="tag in link.Tags" style="text-decoration:none;" :href="'/tag/' + tag">
						<span class="label label-default">{(tag)}</span>&nbsp;
					</a>
				</td>
				<td>
					<a class="btn btn-warning btn-sm" :href="'/editar/' + link.id">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>
					<a class="btn btn-danger btn-sm confirmaExclusao" :href="'/remover/' + link.id">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
			</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<a class="btn btn-default btn-lg" @click="obterMaisLinks">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Mais...
				</a>
			</div>
		</div>
	</div>

	<script src="/estatico/jquery-1.12.0.min.js"></script>
	<script src="/estatico/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<script src="/estatico/vue-debug.js"></script>
	<script src="/estatico/axios.min.js"></script>
	<script src="/estatico/index.js"></script>

</body>
</html>
