<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Favoritos</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/estatico/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<!-- Bootstrap Optional theme -->
	<link rel="stylesheet" href="/estatico/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
</head>
<body style="background-color: #eee;">

	<div id="listaLinks" class="container">
		<div class="row">
			<div v-if="erro" class="alert alert-info" role="alert">{(erro)}</div>
			<table class="table table-hover">
			<tbody>
			<tr v-for="link in lista">
				<td>
					<h4><a :href="link.URL">{(link.Titulo)}</a> <small>({(link.DataCriacao)})</small></h4>
					<span v-if="link.Privado" class="glyphicon glyphicon-lock" aria-hidden="true"></span>
					<a v-for="tag in link.Tags" style="text-decoration:none;" :href="'/tag/' + tag">
						<span class="label label-default">{(tag)}</span>&nbsp;
					</a>
				</td>
				<td>
					<a class="btn btn-warning btn-sm" :href="'/editar/' + link.id">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>
					<a class="btn btn-danger btn-sm confirmaExclusao" :href="'/remover/' + link.id">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
			</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<a class="btn btn-default btn-lg" @click="obterMaisLinks">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Mais...
				</a>
			</div>
		</div>
	</div>

	<script src="/estatico/jquery-1.12.0.min.js"></script>
	<script src="/estatico/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<script src="/estatico/vue-debug.js"></script>
	<script src="/estatico/axios.min.js"></script>
	<script src="/estatico/index.js"></script>

</body>
</html>
