<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Novo Link</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/estatico/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<!-- Bootstrap Optional theme -->
	<link rel="stylesheet" href="/estatico/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
</head>
<body style="background-color: #eee;">

	<div class="container">
		{{if .msg}}
			<div class="alert alert-info" role="alert">{{.msg}}</div>
		{{end}}
		<table class="table table-hover">
		<caption>
			<a class="btn btn-primary btn-lg" href="/formulario">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
			</a>
		</caption>
		<tbody>
			{{range .links}}
				<tr>
					<td>
						<a href="{{.Url}}"><h3>{{.Titulo}}</h3></a>
					</td>
					<td>
						<h4>
							{{if .Privado}}
								<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
							{{end}}
							{{range .Tags}}
								<span class="label label-default">{{ . }}</span>
							{{end}}
						</h4>
					</td>
					<td>
						{{.DataCriacao}}
						<a class="btn btn-warning btn-sm" href="/editar">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</a>
						<a class="btn btn-danger btn-sm" href="/remover">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</a>
					</td>
				</tr>
			{{end}}
		</tbody>
		</table>
	</div> <!-- /container -->

	<!-- JQuery: dependência do bootstrap -->
	<script src="/estatico/jquery-1.12.0.min.js"></script>
	<!-- JS do bootstrap -->
	<script src="/estatico/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

</body>
</html>
