<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Favoritos</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/estatico/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<!-- Bootstrap Optional theme -->
	<link rel="stylesheet" href="/estatico/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
</head>
<body style="background-color: #eee;">

	<div class="container">

	<h2>Link</h2>
	<form method="POST" onSubmit="return validarFormulario();" action="/salvar">
		<input type="hidden" name="inputId" value="{{.link.Id}}">
		<input type="hidden" name="inputDataCriacao" value="{{.link.DataCriacao.Time.Unix}}">
		<label for="inputUrl" class="sr-only">URL</label>
		<input type="text" value="{{.link.Url}}" name="inputUrl" class="form-control" placeholder="URL" required autofocus>

		<label for="inputTitulo" class="sr-only">Título</label>
		<input type="text" value="{{.link.Titulo}}" name="inputTitulo" class="form-control" placeholder="Título" required>

		<label for="inputTags" class="sr-only">Tags (separadas por vírgula)</label>
		<input type="text" value="{{.link.Tags}}" name="inputTags" class="form-control" placeholder="Tags (separadas por vírgula)" required>

		<div class="checkbox">
			<label>
				{{if .link.Privado}}
					<input type="checkbox" checked name="inputPrivado" value="1">
				{{else}}
					<input type="checkbox" name="inputPrivado" value="1">
				{{end}}
				<span class="glyphicon glyphicon-lock" aria-hidden="true"></span> privado!
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
	</form>

	</div> <!-- /container -->

	<!-- JQuery: dependência do bootstrap -->
	<script src="/estatico/jquery-1.12.0.min.js"></script>
	<!-- JS do bootstrap -->
	<script src="/estatico/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		function validarFormulario() {
			var input = $('[name=inputUrl]');
			var url = input.val().trim().toLowerCase();
			input.focus();
			return (url.startsWith("http://") || url.startsWith("https://"));
		}
	</script>

</body>
</html>
